/* Dark mode */

:root {
  --sl-color-accent-low: #292929;
  --sl-color-accent: #9a9a9a;
  --sl-color-accent-high: #c4c4c4;

  --sl-color-white: #c8c8c8;

  --sl-color-gray-1: #bcbcbc;
  --sl-color-gray-2: #a0a0a0;
  --sl-color-gray-3: #7f7f7f;
  --sl-color-gray-4: #5c5c5c;
  --sl-color-gray-5: #3a3a3a;
  --sl-color-gray-6: #242424;
  --sl-color-black: #121212;
}

/* Light mode */

:root[data-theme="light"] {
  --sl-color-accent-low: #e8e8e8;
  --sl-color-accent: #555555;
  --sl-color-accent-high: #222222;

  --sl-color-white: #303030;

  --sl-color-gray-1: #363636;
  --sl-color-gray-2: #4a4a4a;
  --sl-color-gray-3: #666666;
  --sl-color-gray-4: #888888;
  --sl-color-gray-5: #b0b0b0;
  --sl-color-gray-6: #dedede;
  --sl-color-gray-7: #f4f4f4;
  --sl-color-black: #ffffff;
}

@layer lucode {
  :root {
    --radius: 0.5rem;
    --sidebar-width: 17rem;
    --container-max-width: 1440px;
  }
}
